.lists a{
    text-decoration: none;
    color: grey;
}
.postList {
    border-bottom: 2px solid rgb(51, 122, 228);
}

.bg-gray {
    background-color: #f0f2f5;
  }

  .sticky-top-custom {
    position: sticky;
    top: 0;
}

.no-scroll {
    overflow: hidden;
}

.bg-gray {
    background-color: #f0f2f5;
  }
  .position-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%); /* Adjust to better position the icon */
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }